/*----------------------------------------------------------------------------------- */
/*  Mixins/variables */
/*----------------------------------------------------------------------------------- */
/*----------------------------------------------------------------------------------- */
/*  Document Setup */
/*----------------------------------------------------------------------------------- */
* {
  outline: 0 !important; }

html, body {
  width: 100%;
  overflow-x: hidden; }

html {
  height: 100%; }

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  background: #fff;
  min-height: 100%;
  padding-top: 60px; }

#header {
  min-height: 0px; }

#header, #content {
  background: #fafafa; }

.wide-layout {
  width: 100%;
  padding: 15px; }

.boxed-layout {
  max-width: 1040px;
  margin: 0 auto;
  position: relative; }

.single-column-layout {
  max-width: 700px;
  margin: 0 auto; }
  .single-column-layout .me-title {
    margin-bottom: 35px; }
  .single-column-layout.lg {
    max-width: 800px; }
  .single-column-layout.md {
    max-width: 640px; }
  .single-column-layout.sm {
    max-width: 600px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.8) !important;
  line-height: 1.15;
  letter-spacing: -.02em;
  font-weight: 700;
  margin: 0 0 10px; }

.curly p, .curly ul li, .curly ol li {
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif; }

p.reg, ul > li.reg, ol > li.reg, blockquote.reg {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -.004em; }

a {
  color: #02b875;
  transition: all .15s ease-in-out;
  text-decoration: none; }
  a.darklink, a p {
    color: rgba(0, 0, 0, 0.8); }

a:active,
a:hover,
a:focus {
  text-decoration: none;
  color: #018655; }

.link {
  cursor: pointer; }

/*----------------------------------------------------------------------------------- */
/*  Header Styles */
/*----------------------------------------------------------------------------------- */
.navbar {
  background: rgba(255, 255, 255, 0.97);
  padding: 0;
  height: 60px;
  width: 100%;
  border: 0;
  margin-bottom: 28px;
  transition: all 0.3s;
  z-index: 10003; }
  .navbar.shadow {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15); }
  .navbar p, .navbar a {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 300; }

.navbar .nav .open > a,
.navbar .nav .open > a:hover,
.navbar .nav .open > a:focus {
  background-color: transparent !important; }

.navbar .top-bar-container {
  width: 100%;
  height: auto; }

.navbar .container-fluid.top-bar {
  height: 60px;
  padding: 8px 10px 0;
  display: block;
  margin: auto; }

.navbar .container-fluid.top-bar .logo {
  background: url("../images/icons/logo.png") no-repeat center center;
  background-size: cover;
  width: 40px;
  height: 40px;
  float: left;
  text-indent: -9999em;
  margin: 0px 10px 0 0;
  position: relative;
  z-index: 10003; }

.navbar .navbar-auth {
  margin-top: 5px;
  font-weight: 500;
  color: #02b875;
  display: inline-block; }

@media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .navbar .container-fluid.top-bar .logo {
    background-image: url("../images/icons/logo@2x.png");
    width: 40px;
    height: 40px; } }

.navbar .container-fluid.top-bar .navbar-profile {
  position: absolute;
  top: calc(50% - 23.5px);
  right: 0; }
  @media (max-width: 767px) {
    .navbar .container-fluid.top-bar .navbar-profile {
      top: calc(50% - 36px);
      right: 5px; } }

.navbar .container-fluid.top-bar .navbar-profile .nav {
  height: 100%;
  position: relative;
  z-index: 100; }

.navbar .container-fluid.top-bar .navbar-profile .nav > li {
  height: 100%;
  margin-right: 5px;
  float: left; }

.navbar .container-fluid.top-bar .navbar-profile .nav > li > a {
  display: block;
  height: 45px;
  line-height: 25px;
  padding: 8px 10px 9px;
  position: relative;
  transition: all .15s; }
  .navbar .container-fluid.top-bar .navbar-profile .nav > li > a:hover, .navbar .container-fluid.top-bar .navbar-profile .nav > li > a:active, .navbar .container-fluid.top-bar .navbar-profile .nav > li > a:focus {
    background-color: transparent !important;
    color: #02b875 !important; }
  .navbar .container-fluid.top-bar .navbar-profile .nav > li > a.btn {
    left: -10px; }
    @media (max-width: 767px) {
      .navbar .container-fluid.top-bar .navbar-profile .nav > li > a.btn {
        margin-top: 6px; } }

.navbar .container-fluid.top-bar .navbar-profile .nav > li.write-something a {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.44) !important;
  text-decoration: none;
  background: #fff !important;
  padding: 5px 12px;
  position: relative;
  margin-top: 7px;
  font-size: 14px; }

.navbar .container-fluid.top-bar .navbar-profile .nav > li.user-icon {
  width: auto;
  margin-left: 5px;
  margin-right: 0; }
  .navbar .container-fluid.top-bar .navbar-profile .nav > li.user-icon a.search-icon, .navbar .container-fluid.top-bar .navbar-profile .nav > li.user-icon img {
    width: 37px !important;
    height: 37px !important; }
  .navbar .container-fluid.top-bar .navbar-profile .nav > li.user-icon img {
    border: 1px solid rgba(0, 0, 0, 0.15); }
  .navbar .container-fluid.top-bar .navbar-profile .nav > li.user-icon a.search-icon {
    color: rgba(0, 0, 0, 0.44) !important;
    padding: 5px 12px;
    font-weight: 400;
    margin-right: 10px;
    top: 5px;
    font-size: 18px; }
  .navbar .container-fluid.top-bar .navbar-profile .nav > li.user-icon img {
    margin-right: 25px;
    position: relative;
    top: 5px; }
  @media (max-width: 767px) {
    .navbar .container-fluid.top-bar .navbar-profile .nav > li.user-icon a.search-icon, .navbar .container-fluid.top-bar .navbar-profile .nav > li.user-icon img {
      top: 10px; } }

.navbar .nav > li > a:hover {
  background: #f3f3f3 !important; }

.navbar .nav > li > .dropdown-menu:before,
.navbar .nav > li > .dropdown-menu:after {
  display: none; }

.navbar.scroll-hide.closed {
  top: -60px; }

/*----------------------------------------------------------------------------------- */
/*  Avatar */
/*----------------------------------------------------------------------------------- */
.avatar {
  background: transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  transition: all .15s ease; }
  .avatar.lg {
    width: 100px;
    height: 100px; }
  .avatar.md {
    width: 60px;
    height: 60px; }
  .avatar.sm {
    width: 40px;
    height: 40px; }
  .avatar.xs {
    width: 34px;
    height: 34px; }

/*----------------------------------------------------------------------------------- */
/*  Article */
/*----------------------------------------------------------------------------------- */
.long-image {
  width: 100%;
  height: 180px;
  max-height: 180px;
  background: #fafafa;
  object-fit: cover;
  margin-bottom: 10px; }

.article-container .article-item-container {
  padding-top: 15px;
  padding-bottom: 15px; }
  .article-container .article-item-container .article-image {
    object-fit: cover;
    width: 700px;
    height: 350px;
    max-width: 100%;
    background: #bababa; }
    @media (max-width: 767px) {
      .article-container .article-item-container .article-image {
        height: auto; } }

.article-container p, .article-container ul li, .article-container ol li {
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.article-container h1, .article-container h2, .article-container h3, .article-container h4, .article-container h5, .article-container h6 {
  margin: 50px 0 0 -2.25px; }

.article-container h1 {
  margin-top: 0;
  font-size: 36px; }

.article-container .article-body-container h2 {
  font-size: 32px; }
  .article-container .article-body-container h2 + p {
    margin-top: 12px; }

.article-container .article-body-container h3 {
  font-size: 28px; }
  .article-container .article-body-container h3 + p {
    margin-top: 10px; }

.article-container .article-body-container p, .article-container .article-body-container ul > li, .article-container .article-body-container ol > li {
  margin: 29px 0 0 0;
  padding: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em; }

.article-container .article-body-container a {
  color: inherit !important;
  text-decoration: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8); }

.article-container blockquote {
  font-weight: 400;
  font-style: italic;
  margin: 0;
  font-size: 28px;
  margin-left: -1.75px;
  line-height: 1.48;
  letter-spacing: -.014em;
  color: rgba(0, 0, 0, 0.35);
  border-left: none; }

@media (max-width: 767px) {
  .article-container h1 {
    font-size: 28px;
    margin-left: -1.75px;
    line-height: 1.12;
    letter-spacing: -.022em; }
  .article-container .article-body-container h2 {
    font-size: 28px;
    margin-left: -1.75px;
    line-height: 1.12;
    letter-spacing: -.022em; }
  .article-container .article-body-container p, .article-container .article-body-container ul li, .article-container .article-body-container ol li {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: -.004em; }
  .article-container .article-body-container blockquote {
    font-size: 22px;
    margin-left: -1.38px;
    line-height: 1.4;
    letter-spacing: -.008em; } }

/*----------------------------------------------------------------------------------- */
/*  Profile Card */
/*----------------------------------------------------------------------------------- */
.profile-card {
  margin: 10px 0 10px 0;
  background-color: transparent;
  border-top-width: 0;
  border-bottom-width: 2px;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  max-height: 80px; }
  .profile-card .card-image {
    display: table-cell; }
  .profile-card .feed-summary {
    display: table-cell;
    vertical-align: middle;
    line-height: 1.4;
    padding-left: 10px;
    text-rendering: auto; }
    .profile-card .feed-summary .card-name {
      font-weight: 400;
      font-size: 18px;
      color: #444 !important; }
      .profile-card .feed-summary .card-name.sm {
        font-size: 14px;
        top: -3px;
        position: relative; }

.profile-card-hover {
  width: 275px;
  height: auto;
  padding: 10px; }
  .profile-card-hover .profile-card-hover--content {
    margin-right: 75px;
    text-align: left; }
    .profile-card-hover .profile-card-hover--content h1 {
      font-size: 20px;
      margin-bottom: 0; }
      .profile-card-hover .profile-card-hover--content h1:hover {
        text-decoration: underline; }
    .profile-card-hover .profile-card-hover--content p {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.3);
      font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important; }
  .profile-card-hover .profile-card-hover--image {
    position: absolute;
    top: 20px;
    right: 25px; }
  .profile-card-hover .profile-card-hover--footer {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.06); }

/*----------------------------------------------------------------------------------- */
/*  Header Canopy  */
/*----------------------------------------------------------------------------------- */
.header-canopy {
  padding-top: 50px;
  padding-bottom: 50px;
  height: auto;
  position: relative; }
  .header-canopy h1 {
    margin-bottom: 5px; }
  .header-canopy p {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    margin-top: 4px;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.6);
    outline: 0;
    word-break: break-word;
    word-wrap: break-word; }
  .header-canopy.header-canopy--home {
    padding: 40px 0 30px; }
  .header-canopy > .home-header {
    background: no-repeat center center;
    background-size: cover;
    -o-background-size: cover;
    padding: 75px 0 75px;
    background-position: 50% 0;
    border-radius: 5px;
    max-width: 1010px; }
    @media (max-width: 991px) {
      .header-canopy > .home-header {
        border-radius: 0; } }
    @media (max-width: 767px) {
      .header-canopy > .home-header {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
        background-size: 200%;
        background-position: 50% 120px; } }
    .header-canopy > .home-header .home-inner {
      background-image: radial-gradient(50% 50%, rgba(1, 6, 51, 0.8) 50%, rgba(1, 6, 51, 0) 100%);
      max-width: 600px;
      margin: auto;
      padding-top: 50px;
      padding-bottom: 50px;
      text-align: center; }
      .header-canopy > .home-header .home-inner h1 {
        color: #fff !important;
        margin-bottom: 15px;
        font-size: 44px; }
        @media (max-width: 767px) {
          .header-canopy > .home-header .home-inner h1 {
            font-size: 32px; } }
      .header-canopy > .home-header .home-inner p {
        font-size: 24px;
        line-height: 1.4;
        margin-bottom: 10px;
        color: #fff;
        font-weight: 300; }
        @media (max-width: 767px) {
          .header-canopy > .home-header .home-inner p {
            font-size: 18px; } }
      .header-canopy > .home-header .home-inner small {
        color: #b8c1c6;
        font-size: 18px;
        font-weight: 300; }
      .header-canopy > .home-header .home-inner .callout-container {
        display: block;
        margin: 20px auto; }
      .header-canopy > .home-header .home-inner .close .lr {
        height: 75px;
        width: 1px;
        margin-left: 35px;
        background-color: rgba(0, 0, 0, 0.8);
        transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        /* IE 9 */
        -webkit-transform: rotate(45deg);
        /* Safari and Chrome */
        z-index: 1051;
        position: absolute;
        top: 25px;
        right: 55px; }
        .header-canopy > .home-header .home-inner .close .lr .rl {
          height: 75px;
          width: 1px;
          background-color: rgba(0, 0, 0, 0.8);
          transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          /* IE 9 */
          -webkit-transform: rotate(90deg);
          /* Safari and Chrome */
          z-index: 1052; }

/*----------------------------------------------------------------------------------- */
/*  Widget-Container */
/*----------------------------------------------------------------------------------- */
.widget-container {
  margin-top: 10px;
  margin-bottom: 10px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 3px; }
  .widget-container h3 {
    font-size: 31px; }
  .widget-container.widget-container--auth {
    max-width: 440px;
    margin: auto;
    display: block;
    margin-top: 50px; }
  .widget-container.widget-container--settings p:not(.has-error), .widget-container.widget-container--settings label {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3); }
  @media (min-width: 768px) {
    .widget-container.widget-container--settings label {
      position: relative;
      top: 6px;
      float: right; } }
  .widget-container.widget-container--settings a.forgot-password {
    padding: 0 !important;
    position: relative;
    top: 5px; }
  .widget-container.fluid-height {
    height: auto;
    min-height: 0; }
  .widget-container .widget-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
    .widget-container .widget-header h3 {
      line-height: 1em;
      margin-bottom: 5px;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.8); }
    .widget-container .widget-header p {
      font-size: 15px;
      margin-bottom: 0; }
  .widget-container .widget-header,
  .widget-container .widget-content,
  .widget-container .widget-footer {
    width: 100%;
    margin: 0; }
  .widget-container .widget-content {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
  .widget-container.widget-container--auth .widget-content ::-webkit-input-placeholder {
    color: #b1c3d0;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.42857143; }
  .widget-container.widget-container--auth .widget-content :-moz-placeholder {
    /* Firefox 18- */
    color: #b1c3d0;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.42857143; }
  .widget-container.widget-container--auth .widget-content ::-moz-placeholder {
    /* Firefox 19+ */
    color: #b1c3d0;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.42857143; }
  .widget-container.widget-container--auth .widget-content :-ms-input-placeholder {
    color: #b1c3d0;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.42857143; }
  .widget-container.widget-container--auth .widget-content .form-control {
    font-weight: 400;
    font-size: 17px;
    max-width: 300px;
    height: 45px; }
    .widget-container.widget-container--auth .widget-content .form-control.full-width {
      width: 100%;
      max-width: 100%; }
  .widget-container:not(.widget-container--auth) .widget-content .form-control {
    max-width: 210px; }
  .widget-container.widget-container--auth .widget-footer {
    background: #fafafa; }

/*----------------------------------------------------------------------------------- */
/*  Misc */
/*----------------------------------------------------------------------------------- */
.circle {
  border-radius: 50px; }

.ring:active,
.ring:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #02b875 !important; }

.tiny-description {
  vertical-align: baseline;
  text-rendering: auto;
  color: #b8c1c6;
  line-height: 1.1;
  font-size: 12px;
  top: -3px;
  position: relative; }

.empty-item {
  font-weight: 300;
  color: #b8c1c6;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px; }
  .empty-item p {
    margin-top: 15px; }

.center {
  display: block;
  margin: auto; }

@media (max-width: 767px) {
  .sidebar.affix {
    position: relative !important; } }

@media (min-width: 768px) {
  .sidebar.affix {
    position: fixed;
    top: 0;
    max-width: 330px; } }

.glyphicon-heart-empty.heart-count,
.glyphicon-heart.heart-count {
  font-size: 20px;
  color: #02b875 !important;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
  position: relative;
  cursor: pointer; }
  .glyphicon-heart-empty.heart-count > span,
  .glyphicon-heart.heart-count > span {
    position: relative;
    top: -6px;
    left: -12px;
    font-size: 14px !important;
    color: #b8c1c6 !important; }

.heading {
  padding-top: 40px; }
  .heading.heading-borderbottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
  .heading .heading-content {
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-transform: none;
    margin-bottom: 8px; }
    .heading .heading-content .heading-title {
      color: rgba(0, 0, 0, 0.8); }

.top-stories {
  position: relative;
  display: table; }
  .top-stories .story {
    width: 100%;
    margin-top: 15px; }
    .top-stories .story .story--number {
      padding: 8px 14px;
      background: #fff;
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-radius: 50%;
      float: left;
      font-weight: bold; }
    .top-stories .story .story--content {
      margin-left: 55px;
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      vertical-align: middle; }
      .top-stories .story .story--content p:active,
      .top-stories .story .story--content p:hover,
      .top-stories .story .story--content p:focus {
        color: #02b875; }
      .top-stories .story .story--content small {
        color: #b8c1c6;
        font-size: 12.5px; }
        .top-stories .story .story--content small:active, .top-stories .story .story--content small:hover, .top-stories .story .story--content small:focus {
          color: rgba(0, 0, 0, 0.8); }

.categories-container {
  margin-top: 18px;
  margin-bottom: 18px; }
  .categories-container a {
    font-weight: 400;
    font-style: normal;
    color: rgba(0, 0, 0, 0.44);
    font-size: 13px;
    letter-spacing: 0;
    text-decoration: none;
    background: #fafafa;
    border-radius: 3px;
    border: 1px solid #f0f0f0;
    padding: 5px 10px;
    line-height: 22px;
    margin-right: 8px;
    margin-bottom: 8px;
    display: block;
    float: left; }
    .categories-container a:hover, .categories-container a:active, .categories-container a:focus {
      background: #ededed; }
  .categories-container.inverse a {
    background: rgba(255, 255, 255, 0.97) !important;
    color: rgba(0, 0, 0, 0.6); }
    .categories-container.inverse a:hover, .categories-container.inverse a:active, .categories-container.inverse a:focus {
      border-color: #b8c1c6; }

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.05); }

.padded {
  padding: 12px; }

.paddedsides {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 12px;
  padding-right: 12px; }

.paddedleft-container {
  padding-left: 25px; }
  @media (max-width: 767px) {
    .paddedleft-container {
      padding-left: 0; } }

.topnotpadded {
  padding-top: 0 !important; }

.notpadded {
  padding: 0 !important; }

.nomargin {
  margin: 0 !important; }

.bold {
  font-weight: bold; }

/*----------------------------------------------------------------------------------- */
/*  Left Menu */
/*----------------------------------------------------------------------------------- */
.subview-menu {
  padding-top: 12px;
  width: 100%; }
  @media (max-width: 767px) {
    .subview-menu {
      margin-bottom: 0px !important; } }
  .subview-menu .subview-menu--item {
    color: #fafafa;
    cursor: pointer;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding: 12px 12px; }
    .subview-menu .subview-menu--item.active {
      border-color: rgba(0, 0, 0, 0.8);
      color: rgba(0, 0, 0, 0.8);
      font-weight: bold;
      background: #fff; }
      .subview-menu .subview-menu--item.active:hover a {
        color: rgba(0, 0, 0, 0.8); }
      .subview-menu .subview-menu--item.active a {
        color: rgba(0, 0, 0, 0.8); }
    .subview-menu .subview-menu--item:hover a {
      color: rgba(0, 0, 0, 0.8); }
    .subview-menu .subview-menu--item a {
      font-size: 12px;
      color: #b8c1c6;
      text-decoration: none;
      text-transform: uppercase; }
      .subview-menu .subview-menu--item a:focus {
        color: rgba(0, 0, 0, 0.8); }

/*----------------------------------------------------------------------------------- */
/*  Error Container */
/*----------------------------------------------------------------------------------- */
.error-container {
  width: 100%;
  margin: 0;
  padding: 0; }
  .error-container img {
    display: block;
    margin: 50px auto 25px;
    max-width: 300px; }
  .error-container h3 {
    max-width: 500px;
    display: block;
    margin: auto; }
  .error-container .input-group {
    max-width: 500px;
    margin: 25px auto !important; }
    .error-container .input-group input {
      height: 48px;
      font-size: 20px; }
  @media (max-width: 767px) {
    .error-container img {
      max-width: 250px; } }

/*----------------------------------------------------------------------------------- */
/*  Buttons */
/*----------------------------------------------------------------------------------- */
.btn {
  font-weight: 600;
  margin: 0 5px 0 0;
  border-radius: 25px;
  color: #fff !important; }

.btn-primary {
  border-color: #018655 !important;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#26000000)";
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15); }
  .btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #02b875; }
  .btn-primary:focus {
    border-color: #fff !important;
    background-color: #02b875 !important;
    background-image: linear-gradient(transparent, transparent);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#00000000)"; }
  .btn-primary:hover {
    border-color: #018655 !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#26000000, endColorstr=#26000000)"; }
  .btn-primary:not(.btn-inverse) {
    background-color: #02b875 !important; }
    .btn-primary:not(.btn-inverse):active {
      background-color: #018655 !important; }
  .btn-primary.btn-inverse {
    color: #029f65 !important;
    background: #fff !important; }
    .btn-primary.btn-inverse:active {
      background-color: #e6e6e6 !important; }

.btn-home, .btn-home-inverse {
  font-weight: 400;
  font-size: 16px; }
  @media (max-width: 767px) {
    .btn-home, .btn-home-inverse {
      font-size: 14px;
      padding: 8px 12px; } }

.btn-home {
  background: #e368d6 !important;
  border-color: #e368d6 !important; }
  @media (max-width: 767px) {
    .btn-home {
      background-color: #02b875 !important;
      border-color: #018655 !important; } }

.btn-home-inverse {
  background: transparent !important;
  border-color: #e368d6 !important;
  color: #e368d6 !important; }
  @media (max-width: 767px) {
    .btn-home-inverse {
      background-color: transparent !important;
      border-color: #018655 !important;
      color: #02b875 !important; } }

@media (max-width: 767px) {
  .btn-responsive {
    font-size: 14px;
    padding: 8px 12px; } }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #02b875; }

/*----------------------------------------------------------------------------------- */
/*  Dropdowns */
/*----------------------------------------------------------------------------------- */
.dropdown {
  list-style-type: none; }

.dropdown-menu {
  margin-top: 15px !important;
  border-radius: 4px !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.35) !important;
  background: #fff !important;
  padding: 12px 0 !important;
  border-color: rgba(0, 0, 0, 0.05) !important;
  min-width: 230px;
  max-width: 230px;
  left: -190px; }
  @media (max-width: 767px) {
    .dropdown-menu {
      min-width: 180px;
      max-width: 180px;
      left: -135px; } }
  .dropdown-menu > li {
    margin: 0; }
    .dropdown-menu > li hr {
      margin: 7px 0; }
    .dropdown-menu > li p {
      margin: 0 60px 0 0; }
    .dropdown-menu > li > a {
      padding: 7px 25px;
      color: #999;
      font-size: 15px;
      font-weight: 300; }
      .dropdown-menu > li > a:hover, .dropdown-menu > li > a.current {
        color: rgba(0, 0, 0, 0.8);
        background: #fff !important; }
      .dropdown-menu > li > a.borderTop {
        border-top: 1px solid rgba(0, 0, 0, 0.05) !important; }
      .dropdown-menu > li > a.sm {
        font-size: 13px;
        font-weight: 400; }
  @media (max-width: 767px) {
    .dropdown-menu {
      position: absolute !important; } }

/*----------------------------------------------------------------------------------- */
/*  Form styles */
/*----------------------------------------------------------------------------------- */
label {
  font-weight: normal;
  color: #444; }

input {
  box-shadow: none !important; }
  input.invisible-input {
    border: none !important;
    background: transparent;
    font-weight: 300;
    color: #b8c1c6;
    width: 100%; }
    input.invisible-input.lg {
      height: 100px;
      font-size: 40px; }
    input.invisible-input.md {
      height: 75px;
      font-size: 32px; }
    input.invisible-input.sm {
      height: 50px;
      font-size: 20px; }
    input.invisible-input.xs {
      height: 28px;
      font-size: 14px; }

textarea {
  box-shadow: none !important; }
  textarea.invisible-input {
    border: none !important;
    background: transparent;
    font-weight: 300;
    color: #b8c1c6;
    width: 100%;
    font-size: 20px; }

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0; }

.form-control {
  transition: all .15s;
  border-color: rgba(0, 0, 0, 0.05); }

.form-control:focus {
  border-color: #02b875;
  box-shadow: none; }

.alert {
  border-radius: 0 !important;
  position: relative;
  padding: 12px 15px !important;
  top: -1px;
  margin-bottom: 0 !important;
  font-weight: bold;
  color: #444 !important; }

.alert-warning {
  background: #f7e8bc !important;
  border-color: rgba(0, 0, 0, 0.03) !important; }

.has-error {
  font-size: 14px;
  color: #a94442;
  margin-top: 3px;
  margin-bottom: 3px; }

p.has-error {
  line-height: 1.2; }

.has-error-input {
  border-color: #a94442 !important;
  box-shadow: inset 0 0 0 1px #a94442 !important; }

/*----------------------------------------------------------------------------------- */
/*  Responsive Styles */
/*----------------------------------------------------------------------------------- */
.row {
  margin: 0 10px 0; }

.row .row {
  margin: 0 -5px 0; }

.row + .row {
  margin-top: 20px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  padding: 0 5px; }

.hideme {
  display: none; }

/*----------------------------------------------------------------------------------- */
/*  Mobile Styles */
/*----------------------------------------------------------------------------------- */
@media (max-width: 1200px) {
  .row + .row {
    margin-top: 0; }
  [class*="col-sm"], [class*="col-md"], [class*="col-lg"], [class*="col-xs"] {
    margin-bottom: 10px; } }

@media (max-width: 767px) {
  body {
    padding-top: 50px !important; }
    body .widget-container.widget-container--auth {
      margin-top: 25px; }
  .navbar {
    height: 50px;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    margin-bottom: 0;
    transition: left 0.3s; }
    .navbar .container-fluid.top-bar {
      height: 50px; }
      .navbar .container-fluid.top-bar .logo {
        margin-top: -5px;
        margin-left: -15px; } }

/*----------------------------------------------------------------------------------- */
/*  Write */
/*----------------------------------------------------------------------------------- */
.write {
  margin-bottom: 50px; }
  .write input, .write textarea {
    color: rgba(0, 0, 0, 0.8); }
  .write input.invisible-input.lg {
    font-weight: 600; }
  .write .editor {
    min-height: 296px;
    margin-bottom: 25px; }
    .write .editor .cke_chrome {
      border: none !important; }
    .write .editor .cke_top {
      margin-left: -15px !important; }
    .write .editor .cke_contents {
      margin-left: -17px !important; }
    .write .editor .cke_resizer {
      border-color: transparent #b8c1c6 transparent transparent !important; }
    .write .editor .cke_bottom {
      margin-left: -10px !important; }
  .write .category-search-container input.invisible-input.xs {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  .write .category-search-container ul.list-inline {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding-bottom: 7px;
    margin-bottom: 14px;
    margin-left: 0 !important; }
  .write .category-search-container .category-search-item {
    font-size: 12px;
    padding: 5px 10px;
    margin-bottom: 8px;
    margin-right: 8px;
    background: #fff;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: inline-block;
    transition: box-shadow .15s ease; }
    .write .category-search-container .category-search-item > .fa.fa-times {
      margin-left: 5px;
      color: #b8c1c6; }

.publish-article {
  z-index: 10003;
  position: fixed;
  top: 10px;
  right: 0;
  left: calc(50% - 62.5px);
  background: #fff;
  width: 125px;
  padding: 8px 6px;
  border: 1px solid #def1fd;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  transition: all .15s ease; }
  .publish-article:active, .publish-article:hover, .publish-article:focus {
    box-shadow: inset 0 0 75px #88fed2; }
  @media (max-width: 767px) {
    .publish-article {
      top: 5px; } }

/*----------------------------------------------------------------------------------- */
/*  Rotating Crystal */
/*----------------------------------------------------------------------------------- */
.rotate {
  background: url("http://i.imgur.com/gqSTTeD.jpg") 0 0 no-repeat;
  width: 273px;
  height: 273px;
  margin: auto; }
  @media (max-width: 767px) {
    .rotate {
      display: none; } }

.rotate {
  -webkit-animation: rotate-clockwise 1s steps(30) infinite;
  animation: rotate-clockwise 1s steps(30) infinite; }

@-webkit-keyframes rotate-clockwise {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -8192px 0; } }

@keyframes rotate-clockwise {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -8192px 0; } }

@-webkit-keyframes rotate-anticlockwise {
  0% {
    background-position: -8192px 0; }
  100% {
    background-position: 0 0; } }

@keyframes rotate-anticlockwise {
  0% {
    background-position: -8192px 0; }
  100% {
    background-position: 0 0; } }

/*----------------------------------------------------------------------------------- */
/*  Confirm Modal */
/*----------------------------------------------------------------------------------- */
.modal-backdrop {
  background: #fff;
  z-index: 10005 !important; }
  .modal-backdrop.in {
    opacity: .95; }

.modal {
  z-index: 10006 !important; }
  .modal .modal-dialog {
    max-width: 500px;
    height: 300px;
    left: calc(50% - 250px);
    top: calc(50% - 150px);
    position: fixed; }
    @media (max-width: 767px) {
      .modal .modal-dialog {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        margin: 0;
        padding: 25px; } }
    .modal .modal-dialog .modal-content {
      box-shadow: none;
      border: none;
      background: transparent; }
      .modal .modal-dialog .modal-content p {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 400; }
      .modal .modal-dialog .modal-content ul.list-inline {
        margin-top: 40px; }

/*----------------------------------------------------------------------------------- */
/* Message */
/*----------------------------------------------------------------------------------- */
.message-container {
  position: fixed;
  z-index: 11000;
  min-height: 45px;
  top: -500px;
  left: calc(50% - 200px);
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }
  .message-container .message-content {
    padding: 14px; }
    .message-container .message-content .message {
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.8); }
  @media (min-width: 768px) {
    .message-container {
      width: 400px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px; } }
  @media (max-width: 767px) {
    .message-container {
      width: 100%;
      left: 0;
      right: 0;
      border-radius: 0; } }

/* Make clicks pass-through */
#loading-bar {
  pointer-events: none;
  -webkit-pointer-events: none;
  transition: 350ms linear all; }

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0; }

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1; }

#loading-bar .bar {
  transition: width 350ms;
  background: #02d185;
  position: fixed;
  z-index: 11000;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px; }

/* Fancy blur effect */

._exradicated-tooltip {
  position: absolute;
  display: block;
  opacity: 1;
  z-index: 999; }

tooltip {
  display: inline-block;
  position: relative;
  z-index: 10002; }

@-webkit-keyframes animate-tooltip {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  60% {
    opacity: .8; }
  70% {
    opacity: .9; }
  90% {
    opacity: 1; } }

@keyframes animate-tooltip {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  60% {
    opacity: .8; }
  70% {
    opacity: .9; }
  90% {
    opacity: 1; } }

tooltip._multiline {
  display: block; }

tooltip._slow._ready tip {
  -webkit-animation: animate-tooltip 0.65s;
  animation: animate-tooltip 0.65s; }

tooltip._fast._ready tip {
  -webkit-animation: animate-tooltip 0.15s;
  animation: animate-tooltip 0.15s; }

tooltip._steady._ready tip {
  -webkit-animation: animate-tooltip 0.35s;
  animation: animate-tooltip 0.35s; }

tooltip tip {
  border-radius: 3px;
  background: #fff;
  color: rgba(0, 0, 0, 0.8);
  display: none;
  line-height: normal;
  max-width: 500px;
  min-width: 100px;
  opacity: 0;
  padding: 8px 16px;
  position: absolute;
  text-align: center;
  width: auto;
  will-change: top, left, bottom, right;
  box-shadow: 0 0 1px rgba(57, 70, 78, 0.15), 0 10px 55px -8px rgba(57, 70, 78, 0.45); }

tooltip tip._hidden {
  display: block;
  visibility: hidden; }

tooltip.active tip {
  display: block;
  opacity: 1;
  z-index: 999; }

tooltip tip-tip {
  font-size: .95em; }

tooltip tip-tip._large {
  font-size: 1.1em; }

tooltip tip-tip._small {
  font-size: .8em; }

tooltip tip-tip #close-button {
  cursor: pointer;
  float: right;
  left: 8%;
  margin-top: -7%;
  position: relative; }

tooltip._top tip {
  left: 50%;
  top: -9px;
  -webkit-transform: translateX(-50%) translateY(-100%);
  transform: translateX(-50%) translateY(-100%); }

tooltip._top tip tip-arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.1);
  content: '';
  height: 0;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  top: 100%;
  width: 0; }

tooltip._bottom tip {
  right: 50%;
  top: 100%;
  -webkit-transform: translateY(9px) translateX(50%);
  transform: translateY(9px) translateX(50%); }

tooltip._bottom tip tip-arrow {
  border-bottom: 10px solid rgba(0, 0, 0, 0.1);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: 100%;
  content: '';
  height: 0;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  width: 0; }

tooltip._right tip {
  left: 100%;
  top: 50%;
  -webkit-transform: translateX(9px) translateY(-50%);
  transform: translateX(9px) translateY(-50%); }

tooltip._right tip tip-arrow {
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(0, 0, 0, 0.1);
  border-top: 10px solid transparent;
  content: '';
  height: 0;
  margin-top: -6px;
  position: absolute;
  right: 100%;
  top: 50%;
  width: 0; }

tooltip._left tip {
  left: -9px;
  top: 50%;
  -webkit-transform: translateX(-100%) translateY(-50%);
  transform: translateX(-100%) translateY(-50%); }

tooltip._left tip tip-arrow {
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgba(0, 0, 0, 0.1);
  border-top: 10px solid transparent;
  content: '';
  height: 0;
  left: 100%;
  margin-top: -6px;
  position: absolute;
  top: 50%;
  width: 0; }

/*----------------------------------------------------------------------------------- */
/*  Fade In */
/*----------------------------------------------------------------------------------- */
.fadein {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 2s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */

/* Opera < 12.1 */

/*----------------------------------------------------------------------------------- */
/*  Shake */
/*----------------------------------------------------------------------------------- */
.shake {
  -webkit-animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 500px;
  perspective: 500px; }

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-2px, 0, 0);
    transform: translate3d(-2px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0); } }

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-2px, 0, 0);
    transform: translate3d(-2px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0); } }

/*----------------------------------------------------------------------------------- */
/*  Slide Expand Up */
/*----------------------------------------------------------------------------------- */
.slideExpandUp {
  animation-name: slideExpandUp;
  -webkit-animation-name: slideExpandUp;
  animation-duration: .175s;
  -webkit-animation-duration: .175s; }

@keyframes slideExpandUp {
  0% {
    -webkit-transform: translateY(100%) scaleX(0.5);
    transform: translateY(100%) scaleX(0.5); }
  80% {
    -webkit-transform: translateY(-10%) scaleX(1);
    transform: translateY(-10%) scaleX(1); }
  100% {
    -webkit-transform: translateY(0%) scaleX(1);
    transform: translateY(0%) scaleX(1); } }

@-webkit-keyframes slideExpandUp {
  0% {
    -webkit-transform: translateY(100%) scaleX(0.5); }
  80% {
    -webkit-transform: translateY(-10%) scaleX(1);
    transform: translateY(-10%) scaleX(1); }
  100% {
    -webkit-transform: translateY(0%) scaleX(1); } }

/*# sourceMappingURL=app.css.map */
