<div class="row" data-ng-if="vm.articles">
    <div class="col-sm-8" data-ui-when-scrolled="vm.loadStories()">
        <div data-articles data="{{ vm.articles }}"></div>
    </div>
    <div class="col-sm-4">
        <div data-ui-affix class="sidebar paddedleft-container">
            <div data-ui-heading data-title="Featured categories" data-ng-if="vm.categories.length > 0"></div>
            <div data-ng-if="vm.categories.length > 0">
                <div data-categories data="{{ vm.categories }}" data-inverse="true"></div>
            </div>

            <div data-ui-heading data-title="Top stories on Medium" data-ng-if="vm.topArticles.length > 0"></div>
            <div class="categories-container" data-ng-if="vm.topArticles.length > 0">
                <div data-top-stories data="{{ vm.topArticles }}"></div>
            </div>
        </div>
    </div>
</div>

<div class="row" data-ng-if="!vm.articles">
    <div class="widget-container padded text-center">
        <h3>There are no stories yet.</h3>
        <a data-ui-sref="app.write" class="btn btn-primary">Create story</a>
    </div>
</div>