<div class="row">
    <div class="col-sm-8" data-ui-when-scrolled="vm.loadStories()">
        <div data-articles data="{{ vm.articles }}"></div>
    </div>
    <div class="col-sm-4">
        <div data-ui-affix class="sidebar paddedleft-container">
            <div data-ui-heading data-title="Featured categories"></div>
            <div data-ng-if="vm.categories.length > 0">
                <div data-categories data="{{ vm.categories }}" data-inverse="true"></div>
            </div>

            <div data-ui-heading data-title="Top stories on Medium"></div>
            <div data-ng-if="vm.topArticles.length > 0">
                <div data-top-stories data="{{ vm.topArticles }}"></div>
            </div>
        </div>
    </div>
</div>