<div data-ui-header-canopy-home data-ng-if="!currentUser" class="header-canopy header-canopy--home">
    <div class="boxed-layout home-header" style="background-image: url('/images/marketing/main.png'); background-color: #020733;">
        <div class="home-inner">
            <h1>Move thinking forward.</h1>

            <p>
                Medium is a community of readers and writers offering
                unique perspectives on ideas large and small.
            </p>

            <small class="hidden-xs">Sign up to read and interact with what matters most to you</small>

            <div class="callout-container">
                <ul class="list-inline text-center">
                    <li>
                        <a class="btn btn-home btn-lg" data-ui-sref="app.signup">Get Started</a>
                    </li>
                    <li>
                        <a class="btn btn-home-inverse btn-lg"
                           href="https://medium.com/about/about-medium-9eac453da935#.f88k4dnsm">Learn More</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="close" data-ng-click="close()">
        <div class="lr">
            <div class="rl"></div>
        </div>
    </div>
</div>