<form novalidate>
    <div class="widget-container widget-container--auth">
        <div data-ui-widget-header title="New password"></div>

        <div class="widget-content padded">
            <div class="form-group">
                <input class="form-control" type="password" placeholder="Select a new password" data-ng-model="vm.password"
                       data-ng-class="{'has-error-input': vm.errors.password}">

                <div data-ng-repeat="error in vm.errors.password">
                    <p class="has-error">{{ error.toString() }}</p>
                </div>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" placeholder="Repeat your password"
                       data-ng-model="vm.passwordConfirmation"
                       data-ng-class="{'has-error-input': vm.errors.passwordConfirmation}">

                <div data-ng-repeat="error in vm.errors.passwordConfirmation">
                    <p class="has-error">{{ error.toString() }}</p>
                </div>
            </div>

            <button class="btn btn-lg btn-primary" type="submit" data-ng-click="vm.resetPassword()">
                Send password reset link
            </button>
        </div>
    </div>
</form>