<form novalidate>
    <div class="widget-container widget-container--auth">
        <div data-ui-widget-header title="Forgot password"></div>

        <div class="widget-content padded">
            <div class="form-group">
                <input data-ui-focus class="form-control" placeholder="Email" type="email" data-ng-model="vm.email"
                       data-ng-class="{'has-error-input': vm.errors.email}">

                <div data-ng-repeat="error in vm.errors.email">
                    <p class="has-error">{{ error.toString() }}</p>
                </div>
            </div>

            <button class="btn btn-lg btn-primary" type="submit" data-ng-click="vm.sendResetLink()">
                Send reset link
            </button>
        </div>
    </div>
</form>